@page "/click/{campaign}/{linkid}"
@inject CollectorApp.Data.ApplicationDbContext dbContext;
@inject IHttpContextAccessor Accessor
@model CollectorApp.Pages.ClickModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>/click</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="bg-biohazard">
    </div>
</body>
</html>

@{

}
