<div class="text-light mt-3 mb-3">
    @Title
    Feel free to contact me at <a target="_blank" href="https://ethical.blue/"><span class="text-white">ethical</span>.blue</a>.
</div>

<div class="mb-2">
    <img alt="" class="img-fluid" src="/images/blazor.png" />
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
