@inherits LayoutComponentBase

<PageTitle>Collector</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="content px-4 bg-biohazard">
        @Body
    </main>
</div>
